apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kibana
  labels:
    app: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: kibana:9.2.4
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5601
          name: kibana
        env:
        - name: ELASTIC_CONTAINER
          value: "true"
          name: KIBANA_SYSTEM_PASSWORD
          value: kibana
        volumeMounts:
        - mountPath: /usr/share/kibana/config
          name: conf
      volumes:
      - name: conf
        nfs:
          server: 192.168.1.10
          path: /files/data/Kibana
---
apiVersion: v1
kind: Service
metadata:
 name: kibana-service-local
 labels:
   app: kibana-service-local
spec:
 selector:
  app: kibana
 type: NodePort
 ports:
  - port: 5601
    nodePort: 30435
---
apiVersion: v1
kind: Service
metadata:
 name: kibana-service
 labels:
   app: kibana-service
spec:
 type: ClusterIP
 selector:
   app: kibana
 ports:
 - name: kibana
   protocol: TCP
   port: 5601
   targetPort: 5601
